{% extends 'base.html' %}
{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose your category below.</p>
        </div>
    </div>
</header>

<br/><br/>

<!-- Categories Section -->
<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ category }}</h5>
                        <a href="{% url 'category_summary' category %}" class="btn btn-primary">Explore {{ category }}</a>
                        <a href="{% url 'category_summary' category.id %}" class="btn btn-outline-primary">{{ category.name }}</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="text-center">
                <p>No categories available.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
