{% extends 'base.html' %}
{% block content %}
            <!-- Header-->
        <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
              {# product price#}
              {{ product.price }}Tk <br/>
              
              
     <a href="{% url 'home' %}" class= "btn btn-secondary"> Home</a>
      <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
      </center>
      </div>
    </div>
  </div>
</div>
        </div>
    
{% endblock %}