{% extends 'base.html' %}

{% block content %}

<h2>{% if product %} Edit Product: {{ product.name }} {% else %} Upload New Product {% endif %}</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render form fields -->
    <button type="submit">{% if product %} Save Changes {% else %} Upload Product {% endif %}</button>
</form>

{% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
